
/* BODY: Hintergrundfarbe, Schriftart, -groesse und -farbe */
/* BODY: background color, font, size and color */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10pt; 
	color:#000000; 

	/* background-color: #FFE08F;*/
	background-color: #00E08F;
	/*	background-image: linear-gradient(#8F8F8F, #88B8FF);  */
	background-image: linear-gradient(#D8D8D8, #888888); 
    background-attachment: fixed;
	}

/* UeBERSCHRIFTEN */
/* HEADLINES */
h1 { font-size:150%;}
h2 { font-size:120%; text-decoration: underline dotted; margin-top: 0.5em; margin-bottom: 0.5em;}
h3 { font-size:110%;}

/* LINK-Farbe */
/* LINK-color */
a { color:#000000; text-decoration:underline;}
a:link { color:#000000; } 
a:visited { color:#808080; }
a:active { color:#FF0000; }
a:hover { color:#FF0000; text-decoration:none; }

/* TABELLEN */
/* TABLES */
table { }

td { 
	border: 1px solid #C0C0C0; 
	padding: 5px;	
	border-radius: 3px;
	font-size:110%;
 	}

/* gerade Spalten auf Ergebnisseite in anderer Farbe */
/* even rows on result-page in different color */
tr:nth-child(even) {
	background: #99AFBF;
	}

	
/* Ueberschrift zur Wahl/Thema der Wahl - Formate schon durch <h1> und <h2> geregelt */
/* Headline for the election/topic - formats already defined by <h1> and <h2> */
#heading {} 


/* Kurze Beschreibung der Wahl */
/* Short explanation of election */
#explanation { color: #404040; }

/* Anzeige der aktuellen Frage */
/* Current question */
#content { 
	font-size: 150%; 
	}

/* Farben für Sprechblase.- Form und andere Einstellungen in Datei speechbubble.css */
/* Colors of the speech bubble.- Form and further settings in file speechbubble.css */

.bubble { background: #FFE08F; 	border: #000000 solid 1px; }
.bubble:after { border-color: #FFE08F transparent; }
.bubble:before { border-color: #000000 transparent; }


/* VOTING-Tabelle mit den Knoepfen Ja / Nein / Egal / Ueberspringen / Doppelt */
/* VOTING-Table with buttons Yes / No / No Opinion / Skip / Twice */
#voting { margin-top:10px; }

#votingPro, #votingNeutral, #votingContra, #votingSkip, #votingDouble { 
	/* cursor:pointer; */
	}

#votingSkip, #votingDouble { 
	/* font-size:110%; */
	}

/* Statistik */
/* Statistics */
#keepStats { 
	margin-top:10px; 
	font-size:90%; 
	}

	
/* BOOTSTRAP */
.progress {
	margin: 8px;
}
.btn {
	margin: 0.5em;
}
.row {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}


/* Social Media DIV und zugehoerige Buttons */
/* Social media DIV and corresponding buttons */
.social-facebook {
    background: #4560a3;
	color: #c0c0c0;
}

.social-twitter {
    background: #68ace3;
	color: #fff;
}

.social-mail {
    background: #c6c6c6;
	color: #fff;
}

.btn-blue1{color:#fff;background-color:#d3d7df;border-color:#d3d7df}
.btn-blue1:hover{color:#fff;background-color:#c3c7cf;border-color:#c3c7cf}
.btn-blue1.focus,.btn-blue1:focus{color:#fff;background-color:#d3d7df;border-color:#d3d7df;box-shadow:0 0 0 .2rem rgba(75,83,97,.5)}
.btn-blue1.disabled,.btn-blue1:disabled{color:#fff;background-color:#d3d7df;border-color:#d3d7df}
.btn-blue1:not(:disabled):not(.disabled).active,.btn-blue1:not(:disabled):not(.disabled):active,.show>.btn-blue1.dropdown-toggle{color:#fff;background-color:#c3c7cf;border-color:#c3c7cf}
.btn-blue1:not(:disabled):not(.disabled).active:focus,.btn-blue1:not(:disabled):not(.disabled):active:focus,.show>.btn-blue1.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(75,83,97,.5)}

.btn-blue2{color:#fff;background-color:#a7c2d8;border-color:#a7c2d8}
.btn-blue2:hover{color:#fff;background-color:#879ad2;border-color:#879ad2}
.btn-blue2.focus,.btn-blue2:focus{color:#fff;background-color:#a7c2d8;border-color:#a7c2d8;box-shadow:0 0 0 .2rem rgba(58,56,125,.5)}
.btn-blue2.disabled,.btn-blue2:disabled{color:#fff;background-color:#879ad2;border-color:#879ad2}
.btn-blue2:not(:disabled):not(.disabled).active,.btn-blue2:not(:disabled):not(.disabled):active,.show>.btn-blue2.dropdown-toggle{color:#fff;background-color:#117aab;border-color:#1070bf}
.btn-blue2:not(:disabled):not(.disabled).active:focus,.btn-blue2:not(:disabled):not(.disabled):active:focus,.show>.btn-blue2.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(58,56,125,.5)}

.btn-blue3{color:#fff;background-color:#85b1ee;border-color:#85b1ee}
.btn-blue3:hover{color:#fff;background-color:#769acd;border-color:#769acd}
.btn-blue3.focus,.btn-blue3:focus{color:#fff;background-color:#85b1ee;border-color:#85b1ee;box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}
.btn-blue3.disabled,.btn-blue3:disabled{color:#fff;background-color:#769acd;border-color:#769acd}
.btn-blue3:not(:disabled):not(.disabled).active,.btn-blue3:not(:disabled):not(.disabled):active,.show>.btn-blue3.dropdown-toggle{color:#fff;background-color:#1eb2cb;border-color:#1eb2cb}
.btn-blue3:not(:disabled):not(.disabled).active:focus,.btn-blue3:not(:disabled):not(.disabled):active:focus,.show>.btn-blue3.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(58,176,195,.5)}

.btn-blue4{color:#fff;background-color:#007bff;border-color:#007bff}
.btn-blue4:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}
.btn-blue4.focus,.btn-blue4:focus{color:#fff;background-color:#007bff;border-color:#007bff;box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}
.btn-blue4.disabled,.btn-blue4:disabled{color:#fff;background-color:#0069d9;border-color:#0062cc}
.btn-blue4:not(:disabled):not(.disabled).active,.btn-blue4:not(:disabled):not(.disabled):active,.show>.btn-blue4.dropdown-toggle{color:#fff;background-color:#0062cc;border-color:#005cbf}
.btn-blue4:not(:disabled):not(.disabled).active:focus,.btn-blue4:not(:disabled):not(.disabled):active:focus,.show>.btn-blue4.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}

.btn-blue5{color:#fff;background-color:#0541bb;border-color:#0541bb}
.btn-blue5:hover{color:#fff;background-color:#111296;border-color:#111a8b}
.btn-blue5.focus,.btn-blue5:focus{color:#fff;background-color:#0541bb;border-color:#0541bb;box-shadow:0 0 0 .2rem rgba(58,56,195,.5)}
.btn-blue5.disabled,.btn-blue5:disabled{color:#fff;background-color:#111296;border-color:#111296}
.btn-blue5:not(:disabled):not(.disabled).active,.btn-blue5:not(:disabled):not(.disabled):active,.show>.btn-blue5.dropdown-toggle{color:#fff;background-color:#117a8b;border-color:#10707f}
.btn-blue5:not(:disabled):not(.disabled).active:focus,.btn-blue5:not(:disabled):not(.disabled):active:focus,.show>.btn-blue5.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(58,56,195,.5)}


.btn-success{color:#fff;background-color:#28a745;border-color:#28a745}.btn-success:hover{color:#fff;background-color:#218838;border-color:#1e7e34}.btn-success.focus,.btn-success:focus{color:#fff;background-color:#218838;border-color:#1e7e34;box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}.btn-success.disabled,.btn-success:disabled{color:#fff;background-color:#28a745;border-color:#28a745}.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active,.show>.btn-success.dropdown-toggle{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}